.row {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  align-content: flex-start;
  justify-content: flex-start;
}

.col {
  padding: 16px;
  height: auto;
}

.col-1-1, .col-7-8, .col-3-4, .col-5-8, .col-1-2, .col-3-8, .col-1-4, .col-1-8 {
  @extend .col;
}

.col-1-1, .col-2-2, .col-4-4, .col-8-8 {
  flex: 1 1 100%;
}

.col-7-8 {
  flex: 1 1 87.5%;
}

.col-3-4, .col-6-8 {
  flex: 1 1 75%;
}

.col-5-8 {
  flex: 1 1 62.5%;
}

.col-1-2, .col-2-4, .col-4-8 {
  flex: 1 1 50%;
}

.col-3-8 {
  flex: 1 1 37.5%;
}

.col-1-4, .col-2-8 {
  flex: 1 1 25%;
}

.col-1-8 {
  flex: 1 1 12.5%;
}

.fixed {
  flex-shrink: 0;
  flex-grow: 0;
}

.right {
  justify-content: flex-end;
}

.left {
  justify-content: flex-start;
}

@media (max-width: 600px) {
  .row {
    flex-wrap: wrap;
  }

  .row.fixed, nav.row {
    flex-wrap: nowrap;

    .col-1-1, .col-2-2, .col-4-4, .col-8-8 {
      flex: 1 1 100%;
    }

    .col-7-8 {
      flex: 1 1 87.5%;
    }

    .col-3-4, .col-6-8 {
      flex: 1 1 75%;
    }

    .col-5-8 {
      flex: 1 1 62.5%;
    }

    .col-1-2, .col-2-4, .col-4-8 {
      flex: 1 1 50%;
    }

    .col-3-8 {
      flex: 1 1 37.5%;
    }

    .col-1-4, .col-2-8 {
      flex: 1 1 25%;
    }

    .col-1-8 {
      flex: 1 1 12.5%;
    }
  }

  .col {
    flex: 0 0 100%;
  }
}
