h1, h2, h3, h4, h5, h6, p, span, input, textarea, a, div {
  font-family: $sans;
}

header {
  padding: 16px 0;
}

h1 {
  font-size: 60px;
  letter-spacing: 8px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 48px;
  margin: 16px;
}

h3 {
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 16px;
}

p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
}

nav.row {

}

pre {
  &:before {
    content: "Example Code";
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-color: $lighter-gray;
    color: $black;
    width: 100%;
    padding: 8px 0 8px 32px;
    border-radius: 16px 16px 0 0;
    border: 2px solid $dark-gray;
    font-size: 16px;
  }
  box-sizing: border-box;
  margin: 16px 32px;
  position: relative;
  padding: 16px;
  padding-top: 48px;
  font-family: monospace;
  border-radius: 16px;
  background-color: $dark-gray;
  color: $lighter-gray;
}
