button, .link-button {
  box-sizing: border-box;
  padding: 8px 16px;
  margin: 8px;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  color: $light-gray;
  border: 2px solid $light-gray;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    border: 2px solid $dark-gray;

  }

  a.link-button {
    &:before, &:after {
      display: none;
    }

    &:hover {
      &:before, &:after {
        content: "";
        height: 0;
        width: 0;
        display: none;
      }
    }

    &:visited {
      color: $light-gray;
    }
  }

  &:active {
    color: $dark-gray;
  }

  &:focus {
    outline: none;
  }
}

.box-button {
  border: none;
  border-bottom: 2px solid $light-gray;
  border-top: 2px solid $light-gray;

  &:after, &:before {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    display: block;
    background-color: $dark-gray;
    transition: all 0.2s;
  }

  &:before {
    left: 0;
    top: 0;
  }

  &:after {
    right: 0;
    bottom: 0;
  }

  &:hover {
    border: none;
    border-bottom: 2px solid $dark-gray;
    border-top: 2px solid $dark-gray;
    cursor: pointer;
    color: $dark-gray;

    &:after, &:before {
      height: 100%;
      display: block;
    }
  }

  &:active {
    background-color: $lighter-gray;
  }
}

.brace-button {
  border: none;

  &:before, &:after {
    font-size: 16px;
    position: absolute;
    display: block;
    color: $light-gray;
    transition: all 0.2s;
  }

  &:after {
    content: "}";
    top: 5px;
    right: 8px;
  }
  &:before {
    content: "{";
      top: 5px;
      left: 8px;
  }

  &:hover {
    border: none;

    &:before, &:after {
      display: block;
      color: $dark-gray;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  &:active {
    color: $dark-gray;
  }
}
