.grid-demo {
  width: 600px;
  margin: 0 auto 16px auto;
  height: auto;
  overflow: auto;
  position:relative;

  .row {
    height: auto;
  }
  .col-1-1, .col-7-8, .col-3-4, .col-5-8, .col-1-2, .col-3-8, .col-1-4, .col-1-8 {
    background-color: $lighter-gray;
    outline: 2px solid white;
    text-align: center;
  }
}

.icons {
  display: flex;
  justify-content: center;

  i {
    margin: 16px;
    color: $light-gray;
    transition: 0.2s all;

    &:hover {
      color: $dark-gray;
      cursor: pointer;
    }
  }

  a {
    &:hover {
      &:before, &:after {
        display: none;
      }
    }
  }
}

.grid-content, .components-content, .typography-content, .customization-content {
  height: 100vh;
  overflow-y: auto;
}

#grid, #components, #typography, #customization {
  position: relative;
  background-color: $gray;
  color: white;
  height: 100vh;
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.heirarchy {
  border: 1px solid $lighter-gray;
  padding: 16px;
}

pre {
  &:before {
    content: "Example Code";
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-color: $lighter-gray;
    color: $black;
    width: 100%;
    padding: 8px 0 8px 32px;
    border-radius: 16px 16px 0 0;
    border: 2px solid $dark-gray;
    font-size: 16px;
  }
  box-sizing: border-box;
  margin: 16px 32px;
  position: relative;
  padding: 16px;
  padding-top: 48px;
  border-radius: 16px;
  background-color: $dark-gray;
  color: $lighter-gray;
}
