input[type="text"], input[type="password"] {
  box-sizing: border-box;
  position: relative;
  min-width: 200px;
  display: block;
  margin: 12px 0 0 8px;
  font-size: 16px;
  padding: 0 0 0 80px;
  border: none;
  border-bottom: 2px solid $light-gray;
  border-right: 2px solid $light-gray;
  content: attr(name);
  height: 16px;
  transition: 0.2s all;
  background-color: transparent;
  color: $dark-gray;

  &:hover {
    border-color: $dark-gray;
  }

  &:focus {
    border-bottom: 2px solid $dark-gray;
    border-right: 2px solid $dark-gray;
    outline: none;
    height: 24px;
    padding: 24px 80px 8px 0;
  }
}

label {
  &:before {
    content: attr(for);
    text-transform: uppercase;
    position: absolute;
    display: block;
    z-index: -1;
    top: 16px;
    left: 8px;
    font-size: 12px;
    color: $light-gray;
  }
  padding-top: 8px;
  position: relative;
  display: block;
}

textarea {
  display: block;
  border: 2px solid $light-gray;
  padding: 8px;
  font-size: 16px;
  transition: 0.2s all;
  position: relative;
  margin: 8px;

  &:before {
    content: attr(name);
    position: absolute;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    height: 50px;
    width: auto;
    top: 0;
    left: 0;
    color: $light-gray;
    background-color: white;
  }

  &:hover {
    border-color: $dark-gray;
  }

  &:focus {
    outline: none;
    border-color: $dark-gray;
  }
}
