a {
  text-decoration: none;
  position: relative;

  &:before, &:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 0;
    background-color: blue;
    top: 18px;
    transition: 0.2s all;

  }

  &:before {
    left: 50%;
  }

  &:after {
    right: 50%;
  }

  &:hover {

    &:before, &:after {
      width: 50%;
    }
  }
}
