.dark, input.dark, nav.row a.dark {
  color: $gray;
  border-color: $gray;
  &:hover {
    border-color: $lighter-gray;
  }
  &:active {
    color: $lighter-gray;
  }

}

nav.row a.dark {
  &:hover, &:focus {
    color: $lighter-gray;
  }
}

h1.dark, h2.dark, h3.dark, h4.dark, h5.dark, h6.dark, p.dark, span.dark {
  color: $lighter-gray;
}

input[type="text"].dark {
  z-index: 2;
  color: $lighter-gray;
  &:focus {
    border-color: $lighter-gray;
  }
}

label.dark {
  &:before {
    color: $gray;
    z-index: 1;
  }
}

button.dark {
  &:before, &:after {
    color: $gray;
  }

  &:hover {
    &:before, &:after {
      color: $lighter-gray;
    }
  }
}

.box-button.dark {
  &:before, &:after {
    background-color: $lighter-gray;
  }

  &:hover {
    color: $lighter-gray;
  }

  &:active {
    background-color: $dark-gray;
  }
}
