nav.row {
  align-items: center;
  height: auto;
  border-bottom: 1px solid $lighter-gray;
  border-top: 1px solid $lighter-gray;

  button {
    margin: 0;
  }

  a {
    color: $light-gray;
    text-transform: uppercase;
    transition: 0.2s all;

    &:hover {
      color: $dark-gray;

      &:before, &:after {
        display: none;
      }
    }

    &:focus {
      color: $dark-gray;
    }

  }
}

nav.tabs {
  border: none;
  justify-content: flex-start;

  a {
    border: 1px solid $light-gray;
    border-radius: 4px 4px 0 0;
    padding: 14px;
    background-color: $lighter-gray;
    width: 100%;
    display: block;
    position: relative;
    text-align: center;

    &:before, &:after {
      background-color: transparent;
      box-sizing: border-box;
      content: "";
      display: block;
      position: absolute;
      border-bottom: 1px solid $light-gray;
      width: 4px;
      top: 52px;
      bottom: -100px;
    }

    &:before {
      left: -4px;
    }

    &:after {
      right: -4px;
    }

    &:hover {
      background-color: white;

      &:before, &:after {
        display: block;
      }
    }

    &:focus {
      border-bottom: 1px solid white;
      background-color: white;
    }
  }
}

div.hamburger {
  width: 32px;
  height: 32px;
  position: relative;

  &:before {
    font-family: "FontAwesome";
    font-size: 32px;
    content: "\f0c9";
    color: $light-gray;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  ul {
    display: none;
    box-sizing: border-box;
    position: absolute;
    min-width: 200px;
    background-color: white;
    padding: 0px;
    top: -1px;
    right: -1px;
    z-index: 5000;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  }

  li {
    padding: 8px 16px;
    color: $dark-gray;

    &:hover {
      background-color: $lighter-gray;
      cursor: pointer;
    }

    &:active {
      background-color: $light-gray;
    }
  }

  &:hover {
    ul {
      display: block;
    }
  }
}

div.settings {
  @extend div.hamburger;

  &:before {
    content: "\f013";
  }
}

div.dropdown {
  @extend div.hamburger;
  width: 200px;

  &:before {
    @extend button;
    font-family: $sans;
    font-size: 12px;
    content: attr(name);
    width: 200px;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  ul {
    top: -6px;
    left: 0;
    width: 200px;
    min-width: 200px;
  }
}

div.hamburger.left, div.settings.left {
  ul {
    top: -1px;
    left: -1px;
    right: auto;
  }
}
