nav.row {
  align-items: center;
  height: auto;
  border-bottom: 1px solid $lighter-gray;
  border-top: 1px solid $lighter-gray;

  button {
    margin: 0;
  }

  a {
    color: $light-gray;
    text-transform: uppercase;
    transition: 0.2s all;

    &:hover {
      color: $dark-gray;

      &:before, &:after {
        display: none;
      }
    }

    &:focus {
      color: $dark-gray;
    }

  }
}

nav.tabs {
  border: none;
  justify-content: flex-start;

  a {
    border: 1px solid $light-gray;
    border-radius: 4px 4px 0 0;
    padding: 14px;
    background-color: $lighter-gray;
    width: 100%;
    display: block;
    position: relative;
    text-align: center;

    &:before, &:after {
      background-color: transparent;
      box-sizing: border-box;
      content: "";
      display: block;
      position: absolute;
      border-bottom: 1px solid $light-gray;
      width: 4px;
      top: 44px;
      bottom: -100px;
    }

    &:before {
      left: -4px;
    }

    &:after {
      right: -4px;
    }

    &:hover {
      background-color: white;

      &:before, &:after {
        display: block;
      }
    }

    &:focus {
      border-bottom: 1px solid white;
      background-color: white;
    }
  }
}
