
$black: #000;
$dark-gray: rgba(0,0,0,0.8);
$gray: rgba(0,0,0,0.6);
$light-gray: rgba(0,0,0,0.4);
$lighter-gray: rgba(0,0,0,0.2);
$white: #FFF;
$dark-white: rgba(255,255,255,0.8);
$mid-white: rgba(255,255,255,0.6);
$light-white: rgba(255,255,255,0.4);
$lighter-white: rgba(255,255,255,0.2);
