@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

$sans: 'Open Sans', sans-serif;

$serif: 'Cormorant Garamond', serif;

$monospace: 'Anonymous Pro', monospace;
