@import 'core/variables/colors';
@import 'core/variables/fonts';


@import 'core/reset';
@import 'core/grid';
@import 'core/layout';

@import 'font-awesome-4.7.0/scss/font-awesome';
@import 'components/buttons';
@import 'components/inputs';
@import 'components/links';
@import 'components/nav';
@import 'components/modifiers';
@import 'components/demo';
