@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  align-content: flex-start;
  justify-content: flex-start; }

.col, .col-1-1, .col-7-8, .col-3-4, .col-5-8, .col-1-2, .col-3-8, .col-1-4, .col-1-8 {
  padding: 16px;
  height: auto; }

.col-1-1 {
  flex: 1 1 100%; }

.col-7-8 {
  flex: 1 1 87.5%; }

.col-3-4 {
  flex: 1 1 75%; }

.col-5-8 {
  flex: 1 1 62.5%; }

.col-1-2 {
  flex: 1 1 50%; }

.col-3-8 {
  flex: 1 1 37.5%; }

.col-1-4 {
  flex: 1 1 25%; }

.col-1-8 {
  flex: 1 1 12.5%; }

.fixed {
  flex-shrink: 0; }

@media (max-width: 600px) {
  .row {
    flex-wrap: wrap; }

  .col-* {
    flex: 0 0 100%; } }
h1, h2, h3, h4, h5, h6, p, span, input, textarea, a, div {
  font-family: "Open Sans", sans-serif; }

header {
  padding: 16px 0; }

h1 {
  font-size: 60px;
  letter-spacing: 8px;
  text-align: center;
  text-transform: uppercase; }

h2 {
  font-size: 48px;
  margin: 16px; }

h3 {
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 16px; }

p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px; }

pre {
  box-sizing: border-box;
  margin: 16px 32px;
  position: relative;
  padding: 16px;
  padding-top: 48px;
  font-family: monospace;
  border-radius: 16px;
  background-color: #333;
  color: #CCC; }
  pre:before {
    content: "Example Code";
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-color: #CCC;
    color: #000;
    width: 100%;
    padding: 8px 0 8px 32px;
    border-radius: 16px 16px 0 0;
    border: 2px solid #333;
    font-size: 16px; }

input[type="text"] {
  position: relative;
  display: block;
  margin: 8px;
  font-size: 16px;
  padding: 8px;
  border: none;
  border-bottom: 2px solid #333;
  content: attr(name); }
  input[type="text"]:focus {
    border-bottom: 2px solid blue;
    outline: none; }

.grid-demo {
  width: 600px;
  margin: 0 auto 16px auto;
  height: auto;
  overflow: auto;
  position: relative; }
  .grid-demo .row {
    height: auto; }
  .grid-demo .col-1-1, .grid-demo .col-7-8, .grid-demo .col-3-4, .grid-demo .col-5-8, .grid-demo .col-1-2, .grid-demo .col-3-8, .grid-demo .col-1-4, .grid-demo .col-1-8 {
    background-color: #CCC;
    outline: 2px solid white;
    text-align: center; }

.grid-content, .components-content {
  height: 100vh;
  overflow-y: auto; }

.grid-description, .components-description {
  position: relative;
  background-color: #666;
  color: white;
  height: 100vh; }
  .grid-description div, .components-description div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/*# sourceMappingURL=master.css.map */
