@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  align-content: flex-start;
  justify-content: flex-start; }

.col, .col-1-1, .col-7-8, .col-3-4, .col-5-8, .col-1-2, .col-3-8, .col-1-4, .col-1-8 {
  padding: 16px;
  height: auto; }

.col-1-1 {
  flex: 1 1 100%; }

.col-7-8 {
  flex: 1 1 87.5%; }

.col-3-4 {
  flex: 1 1 75%; }

.col-5-8 {
  flex: 1 1 62.5%; }

.col-1-2 {
  flex: 1 1 50%; }

.col-3-8 {
  flex: 1 1 37.5%; }

.col-1-4 {
  flex: 1 1 25%; }

.col-1-8 {
  flex: 1 1 12.5%; }

.fixed {
  flex-shrink: 0; }

@media (max-width: 600px) {
  .row {
    flex-wrap: wrap; }

  .col-* {
    flex: 0 0 100%; } }
h1, h2, h3, h4, h5, h6, p, span, input, textarea, a, div {
  font-family: "Open Sans", sans-serif; }

header {
  padding: 16px 0; }

h1 {
  font-size: 60px;
  letter-spacing: 8px;
  text-align: center;
  text-transform: uppercase; }

h2 {
  font-size: 48px;
  margin: 16px; }

h3 {
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 16px; }

p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px; }

nav.row {
  text-align: center; }

pre {
  box-sizing: border-box;
  margin: 16px 32px;
  position: relative;
  padding: 16px;
  padding-top: 48px;
  font-family: monospace;
  border-radius: 16px;
  background-color: #333;
  color: #CCC; }
  pre:before {
    content: "Example Code";
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-color: #CCC;
    color: #000;
    width: 100%;
    padding: 8px 0 8px 32px;
    border-radius: 16px 16px 0 0;
    border: 2px solid #333;
    font-size: 16px; }

button, .link-button {
  box-sizing: border-box;
  padding: 8px 16px;
  margin: 8px;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  color: #999;
  border: 2px solid #999;
  transition: 0.2s all; }
  button:hover, .link-button:hover {
    cursor: pointer;
    border: 2px solid #333; }
  button:active, .link-button:active {
    color: #333; }
  button:focus, .link-button:focus {
    outline: none; }

.box-button {
  border: none;
  border-bottom: 2px solid #999;
  border-top: 2px solid #999;
  transition: 0.2s all; }
  .box-button:after, .box-button:before {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    display: block;
    background-color: #333;
    transition: 0.2s all; }
  .box-button:before {
    left: 0;
    top: 0; }
  .box-button:after {
    right: 0;
    bottom: 0; }
  .box-button:hover {
    border: none;
    border-bottom: 2px solid #333;
    border-top: 2px solid #333;
    cursor: pointer;
    color: #333; }
    .box-button:hover:after, .box-button:hover:before {
      height: 100%; }
  .box-button:active {
    background-color: #CCC; }

.brace-button {
  transition: 0.2s all;
  border: none; }
  .brace-button:before, .brace-button:after {
    font-size: 16px;
    position: absolute;
    color: #999;
    transition: 0.2s all; }
  .brace-button:after {
    content: "}";
    top: 5px;
    right: 8px; }
  .brace-button:before {
    content: "{";
    top: 5px;
    left: 8px; }
  .brace-button:hover {
    border: none; }
    .brace-button:hover:before, .brace-button:hover:after {
      color: #333; }
    .brace-button:hover:before {
      left: 0; }
    .brace-button:hover:after {
      right: 0; }
  .brace-button:active {
    color: #333; }

.bracket-button {
  padding: 4px 16px;
  margin: 12px 8px;
  transition: 0.2s all linear; }
  .bracket-button:before, .bracket-button:after {
    content: "";
    width: 2px;
    height: 16px;
    background-color: white;
    display: block;
    position: absolute;
    transition: 0.2s all linear; }
  .bracket-button:before {
    top: 4px;
    left: -2px; }
  .bracket-button:after {
    top: 4px;
    right: -2px; }
  .bracket-button:hover {
    margin: 8px;
    padding: 8px 16px;
    border-color: #333; }
    .bracket-button:hover:before, .bracket-button:hover:after {
      height: 24px; }
  .bracket-button:active {
    color: #333; }

input[type="text"], input[type="password"] {
  box-sizing: border-box;
  position: relative;
  min-width: 200px;
  display: block;
  margin: 12px 0 0 8px;
  font-size: 16px;
  padding: 0 0 0 80px;
  border: none;
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: attr(name);
  height: 16px;
  transition: 0.2s all;
  background-color: transparent;
  color: #333; }
  input[type="text"]:hover, input[type="password"]:hover {
    border-color: #333; }
  input[type="text"]:focus, input[type="password"]:focus {
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
    outline: none;
    height: 24px;
    padding: 24px 80px 8px 0; }

label {
  padding-top: 8px;
  position: relative;
  display: block; }
  label:before {
    content: attr(for);
    text-transform: uppercase;
    position: absolute;
    display: block;
    z-index: -1;
    top: 16px;
    left: 8px;
    font-size: 12px;
    color: #999; }

textarea {
  display: block;
  border: 2px solid #999;
  padding: 8px;
  font-size: 16px;
  transition: 0.2s all;
  position: relative;
  margin: 8px; }
  textarea:before {
    content: attr(name);
    position: absolute;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    height: 50px;
    width: auto;
    top: 0;
    left: 0;
    color: #999;
    background-color: white; }
  textarea:hover {
    border-color: #333; }
  textarea:focus {
    outline: none;
    border-color: #333; }

a {
  text-decoration: none;
  position: relative; }
  a:before, a:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 0;
    background-color: blue;
    top: 18px;
    transition: 0.2s all; }
  a:before {
    left: 50%; }
  a:after {
    right: 50%; }
  a:hover:before, a:hover:after {
    width: 50%; }

.grid-demo {
  width: 600px;
  margin: 0 auto 16px auto;
  height: auto;
  overflow: auto;
  position: relative; }
  .grid-demo .row {
    height: auto; }
  .grid-demo .col-1-1, .grid-demo .col-7-8, .grid-demo .col-3-4, .grid-demo .col-5-8, .grid-demo .col-1-2, .grid-demo .col-3-8, .grid-demo .col-1-4, .grid-demo .col-1-8 {
    background-color: #CCC;
    outline: 2px solid white;
    text-align: center; }

.grid-content, .components-content {
  height: 100vh;
  overflow-y: auto; }

.grid-description, .components-description {
  position: relative;
  background-color: #666;
  color: white;
  height: 100vh; }
  .grid-description div, .components-description div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

nav.row {
  align-items: center;
  height: auto;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC; }
  nav.row a {
    color: #999;
    text-transform: uppercase;
    transition: 0.2s all; }
    nav.row a:hover {
      color: #333; }
      nav.row a:hover:before, nav.row a:hover:after {
        display: none; }
    nav.row a:focus {
      color: #333; }

nav.tabs {
  border: none;
  justify-content: flex-start; }
  nav.tabs a {
    border: 1px solid #999;
    border-radius: 4px 4px 0 0;
    padding: 14px;
    background-color: #CCC;
    width: 100%;
    display: block;
    position: relative;
    text-align: center; }
    nav.tabs a:before, nav.tabs a:after {
      background-color: transparent;
      box-sizing: border-box;
      content: "";
      display: block;
      position: absolute;
      border-bottom: 1px solid #999;
      width: 2px;
      top: 44px;
      bottom: -100px; }
    nav.tabs a:before {
      left: -2px; }
    nav.tabs a:after {
      right: -2px; }
    nav.tabs a:hover {
      background-color: white; }
      nav.tabs a:hover:before, nav.tabs a:hover:after {
        display: block; }
    nav.tabs a:focus {
      border-bottom: 1px solid white;
      background-color: white; }

/*# sourceMappingURL=master.css.map */
