.grid-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-content: stretch;
}

.col {
  padding: 16px;
}

.col-1-1 {
  flex: 8 1 100%;
  height: auto;
}

.col-7-8 {
  flex: 7 1 87.5%;
  height: auto;
}

.col-3-4 {
  flex: 6 1 75%;
  height: auto;
}

.col-5-8 {
  flex: 5 1 62.5%;
  height: auto;
}

.col-1-2 {
  flex: 4 1 50%;
  height: auto;
}

.col-3-8 {
  flex: 3 1 37.5%;
  height: auto;
}

.col-1-4 {
  flex: 2 1 25%;
  height: auto;
}

.col-1-8 {
  flex: 1 1 12.5%;
  height: auto;
}

.fixed {
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .col-* {
    flex: 0 0 100%;
  }
}
